# TODO: Local'de ayağa kaldırmak için bu dosyayı kopyalayıp adını '.env' yapın.
# Gizli ve kişisel bilgileri .env dosyasına giriyoruz (Git'e yüklenmez, local'de kalır).
DATABASE_URL=postgresql+psycopg://binbin_app:<PASSWORD>@localhost:4012301/binbin
